.calc-body{
  width: 300px;
  margin: auto;
  min-height: 350px;
  box-shadow: 0 8px 50px 7px rgba(0, 0, 0, 0.23);
  background-color: black;
  border-radius: 15px;
}

.calc-screen{
  padding: 1rem;
}

#calc-typed{
  font-size: 2rem;
  text-align: right;
  color: #fff;
}

.calc-button-row{
  display: table;
  margin: 0 10px;
  margin-left: 20px;
}

.calc-button-row button{
  border: none;
  margin: 8px;
  border-radius: 10px;
}

.calc-button-row button{
  display: table-cell;
  width:17%;
  padding: 0 6px;
  margin: 8px 10px;
  background-color: rgb(208, 243, 255);
}

.calc-button-row .opt, .ac{
  background-color: rgb(101, 216, 255);
}

.calc-button-row .delete{
  width: 92%;
}